<div class="list-category card-panel pink">
    <span class="list-title white-text">
        {{type}} on QfX
    </span>
</div>

<div class="row show-list">
    {{#each movies as |movie|}}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card sticky-action medium" style="overflow: hidden;">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{movie.image}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{movie.eventname}}<i class="material-icons right">more_vert</i></span>
                <div class = "rating-movie">{{movie.eventratingdescription}} | {{movie.genre}}</div>
              </div>

              <div class="card-action movie-action">
                <!--<a href="#">Detail</a>-->
                {{#link-to 'movies.detail' movie.id}}Detail{{/link-to}}
                <!-- <a href="#">Ticket</a> -->
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{movie.eventname}}<i class="material-icons right">close</i></span>
                <br>
                <p>{{movie.annotation}}</p>
              </div>
            </div>
        </div>
    {{/each}}
</div>
{{yield}}
